Product
- Most Expensive and Cheapest Products by Country
- Top 100 Products Overall by Quantity
- Top 10 Products by Quantity for Each Country
- Top 100 Products Overall by Total Sales
- Top 10 Products by Total Sales for Each Country

Customer 
- Top Customers by Purchased Amount
- Top 10 Customers Purchased Frequency
- Average Amount Per Transaction

Revenue
- Total Sales by Month
- Total Sales by Year
- Total Sales by Product
- Sales Trends Over Time
- Sales Distribution by Country
- Countries with the Highest and Lowest Sales